{% extends 'base.html' %}
{% load static %}

{% block messages %}{% endblock %}

{% block content %}

<style>
  
 .profile-icon {
    width: 24px;
    height: 24px;
    filter: invert(42%) sepia(98%) saturate(1828%) hue-rotate(202deg)
            brightness(97%) contrast(90%);
}

.car-icon {
    width: 24px;
    height: 24px;
    filter: invert(37%) sepia(88%) saturate(1020%) hue-rotate(132deg)
            brightness(90%) contrast(96%);
}

</style>


<section class="reg-choose-page">
  <div class="reg-choose-inner">
 
    <h1 class="reg-choose-title">Join Rentiva</h1>
    <p class="reg-choose-sub">Choose how you'd like to get started</p>

    <div class="reg-choose-cards">

      <a href="/register/customer/" class="reg-role-card">
        <div class="reg-role-icon reg-role-icon--customer">
          <img class="profile-icon" src="{% static 'img/profile-line.svg' %}">
        </div>
        <h3>Register as Customer</h3>
        <p>Browse and rent premium cars from our trusted network of vehicle owners.</p>
        <ul class="reg-role-list">
          <li><i class="ri-check-line"></i>Access thousands of cars</li>
          <li><i class="ri-check-line"></i>Easy booking &amp; cancellation</li>
          <li><i class="ri-check-line"></i>Transparent pricing</li>
        </ul>
        <div class="reg-role-cta reg-role-cta--customer">
          Get Started <i class="ri-arrow-right-line"></i>
        </div>
      </a>

      <a href="/register/renter/" class="reg-role-card reg-role-card--renter">
        <div class="reg-role-icon reg-role-icon--renter">
          <img class="car-icon" src="{% static 'img/car.svg' %}">
        </div>
        <h3>Register as Renter</h3>
        <p>List your car and earn passive income from verified, insured customers.</p>
        <ul class="reg-role-list">
          <li><i class="ri-check-line"></i>Earn passive income</li>
          <li><i class="ri-check-line"></i>Full booking management</li>
          <li><i class="ri-check-line"></i>Secure bank payouts</li>
        </ul>
        <div class="reg-role-cta reg-role-cta--renter">
          Start Earning <i class="ri-arrow-right-line"></i>
        </div>
      </a>

    </div>

    <p class="reg-choose-login">Already have an account? <a href="/login/">Sign In</a></p>

  </div>
</section>
{% endblock %}
